# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# 通常情况下，这些文件可以不包含在 .gitignore 中，但如果您使用 PyInstaller 打包您的应用程序，可以将其添加到 .gitignore 中
# *.spec
# dist/
# build/
# __pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache
.pytest_tmp/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
# 通常情况下，这些文件可以不包含在 .gitignore 中，但如果您使用 Pipenv 进行依赖管理，可以将其添加到 .gitignore 中
# .venv
# .venv/
# venv/
# ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Kivy settings
.kivy/logs/
.kivy/images/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# npm
node_modules/
package-lock.json
package.json

# custom
data/
logs/
